    <h2>Articles List</h2>
    <a ui-sref="^.create" class="button">Create article</a>
    <table>
        <tr>
            <td>Title</td>
            <td>Updated At</td>
            <td>Slug</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in articles.articles">
            <td>
                <a ui-sref="^.edit({slug: item.titleSlug, id: item.id})">{{item.fullTitle}}</a>
            </td>
            <td>{{item.updatedAt|date}}</td>
            <td>{{item.slug}}</td>
            <td class="articleActions">
                <a ui-sref="^.view({slug: item.titleSlug, id: item.id})" class="btn btn-primary" title="View">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                <a href="" ng-click="articles.remove($index)" class="btn btn-danger" title="Remove">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
    </table>
